<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>PRIDE</title>

	<link rel="stylesheet" type="text/css" href="../styles/app.css">
</head>

<body>
	<div class="community welcome">
		<p>You must create a screen name to get started. This can be any name you choose and does not need to be the name you originally shared with The PRIDE Study. If you choose to use your real name, other community members will be able to associate your posts with that name.</p>
	</div>

	<!--
	<script src="../scripts/vendor/jquery/jquery-1.11.3.min.js"></script>
	<script src="../scripts/vendor/greensock/TweenMax.min.js"></script>
	<script src="../scripts/vendor/greensock/plugins/CSSPlugin.min.js"></script>
	<script src="../scripts/vendor/greensock/easing/EasePack.min.js"></script>
	

	<script>

	</script>
	-->
</body>

</html>