<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>PRIDE</title>

	<link rel="stylesheet" type="text/css" href="../styles/app.css">
</head>

<body>
	<div class="community fpo">
		<p>Lorem ipsum dolor sit amet, cum et aeque voluptua dissentias, ex solum viderer virtute duo, eu malis albucius mnesarchum nec.</p>
		<p>Lorem ipsum dolor sit amet, cum et aeque voluptua dissentias, ex solum viderer virtute duo, eu malis albucius mnesarchum nec.</p>
	</div>

	<!--
	<script src="../scripts/vendor/jquery/jquery-1.11.3.min.js"></script>
	<script src="../scripts/vendor/greensock/TweenMax.min.js"></script>
	<script src="../scripts/vendor/greensock/plugins/CSSPlugin.min.js"></script>
	<script src="../scripts/vendor/greensock/easing/EasePack.min.js"></script>
	

	<script>

	</script>
	-->
</body>

</html>