<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>PRIDE</title>

	<link rel="stylesheet" type="text/css" href="../styles/app.css">
</head>

<body>
	<div class="community guidelines">
		<h3>Purpose of the Community</h3>
		<p>To make sure The PRIDE Study is for LGBTQ people by LGBTQ people -- we need to know what health topics you think should be researched.  The community is where you can nominate your own topics, vote on topics nominated by others, and engage in dialogue around what’s important to you. </p>

		<h3>Creating a Screen Name</h3>
		<p>You must create a screen name to get started.  This can be any name you choose and does not need to be the name you originally shared with The PRIDE Study.  In order to protect your anonymity, we recommend choosing a screen name that does not contain identifying information. If you choose to use your real name, other community members may be able to associate your posts with you.</p>

		<h3>Basic Guidelines</h3>
		<ul>
			<li>Share as much or as little as you want.</li>
			<li>Be respectful. Treat others as you would wish to be treated.  The forum will be moderated.  Posts deemed inappropriate will be removed.</li>
			<li>Use your own health experiences as a source of ideas for suggested research topics if you need help getting started.</li>
		</ul>


		<h3>Reporting Abuse</h3>
		<p>Please contact us to report any behavior you believe to be inappropriate or harmful.<br>
		By email: pridestudy@ucsf.edu<br>
		By phone (toll-free):  1-855-421-9991</p>
	</div>

	<!--
	<script src="../scripts/vendor/jquery/jquery-1.11.3.min.js"></script>
	<script src="../scripts/vendor/greensock/TweenMax.min.js"></script>
	<script src="../scripts/vendor/greensock/plugins/CSSPlugin.min.js"></script>
	<script src="../scripts/vendor/greensock/easing/EasePack.min.js"></script>
	

	<script>

	</script>
	-->
</body>

</html>