<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>PRIDE</title>

	<link rel="stylesheet" type="text/css" href="../styles/app.css">
</head>

<body>
	<div class="consent databases">
		<p>The risk of a breach of your data security, privacy, and confidentiality is low. All databases used in this study employ military-grade encryption. All transmissions from the iPhone app to the databases are encrypted. Your identifiable information (e.g., name, email address) and study data are stored securely. The encrypted databases that are used are physically and digitally separate. The digital key that links these databases to each other is also encrypted, so in the event the study database is hacked, it would be exceedingly difficult for you to be identified.</p>
	</div>

	<!--
	<script src="../scripts/vendor/jquery/jquery-1.11.3.min.js"></script>
	<script src="../scripts/vendor/greensock/TweenMax.min.js"></script>
	<script src="../scripts/vendor/greensock/plugins/CSSPlugin.min.js"></script>
	<script src="../scripts/vendor/greensock/easing/EasePack.min.js"></script>
	

	<script>

	</script>
	-->
</body>

</html>