<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>PRIDE</title>

	<link rel="stylesheet" type="text/css" href="../styles/app.css">
</head>

<body>
	<div class="consent privacy">
		<p><strong>We take privacy very seriously</strong>, and we will do our best to make sure that the personal information gathered for this study is kept private. We are utilizing technologies that are physically and digitally separate from the information that identifies you from your study data. However, we cannot guarantee total privacy. Your personal information may be given out if required by law. If information from this study is published or presented at scientific meetings, your name and other personal information that could identify you will be removed.</p>

		<p>Organizations that may look at and/or copy your records for research, quality assurance, and data analysis include The University of California.</p>

		<p>Because you will select your own user name for participation in the community discussion groups, your identity will not be disclosed in that setting unless you write personally identifiable information in the discussion group.</p>

	</div>

	<!--
	<script src="../scripts/vendor/jquery/jquery-1.11.3.min.js"></script>
	<script src="../scripts/vendor/greensock/TweenMax.min.js"></script>
	<script src="../scripts/vendor/greensock/plugins/CSSPlugin.min.js"></script>
	<script src="../scripts/vendor/greensock/easing/EasePack.min.js"></script>
	

	<script>

	</script>
	-->
</body>

</html>