<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>PRIDE</title>

	<link rel="stylesheet" type="text/css" href="../styles/app.css">
</head>

<body>
	<div class="intro how-study-works">
		<h1>How This Study Works</h1>

		<p><strong>Participants interested in the PRIDE Study will first go through the following steps:</strong></p>
		<ul>
			<li><span>Determine your eligibility</span></li>
			<li><span>Read and agree to consent</span></li>
			<li><span>Register to create your account</span></li>
		</ul>

		<p>Once that's complete, participants can then:</p>
		<ul>
			<li><span>Complete surveys</span></li>
			<li><span>Complete other activities</span></li>
			<li><span>Share your insights in the community discussion forum</span></li>
			<li><span>Contribute to greater health understanding by sharing sensor data</span></li>
		</ul>
	</div>

	<div class="gradient-bottom"></div>

	<!--
	<script src="../scripts/vendor/jquery/jquery-1.11.3.min.js"></script>
	<script src="../scripts/vendor/greensock/TweenMax.min.js"></script>
	<script src="../scripts/vendor/greensock/plugins/CSSPlugin.min.js"></script>
	<script src="../scripts/vendor/greensock/easing/EasePack.min.js"></script>
	

	<script>

	</script>
	-->
</body>

</html>