<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>PRIDE</title>

	<link rel="stylesheet" type="text/css" href="../styles/app.css">
</head>

<body>
	<div class="intro about-study">
		<h1>About the Study</h1>

		<h2>What do you want to know about LGBTQ health? We want to know!</h2> 

		<p><img src="../images/intro-girl.png" width="75" height="75">The PRIDE Study team—based at the University of California, San Francisco—invites you to join our team and help us design the first nationwide long-term health study of lesbian, gay, bisexual, transgender, and queer (LGBTQ) and other sexual and gender minority (SGM) people.</p>

		<p>This study was created BY members of the LGBTQ community FOR the LGBTQ community.</p>

		<p>This app is designed for research and education purposes only. This app is not meant to provide medical advice, attention, or treatment. If you are having a medical emergency, call or contact your healthcare provider.</p>
	</div>

	<div class="gradient-bottom"></div>

	<!--
	<script src="../scripts/vendor/jquery/jquery-1.11.3.min.js"></script>
	<script src="../scripts/vendor/greensock/TweenMax.min.js"></script>
	<script src="../scripts/vendor/greensock/plugins/CSSPlugin.min.js"></script>
	<script src="../scripts/vendor/greensock/easing/EasePack.min.js"></script>
	

	<script>

	</script>
	-->
</body>

</html>