<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>PRIDE</title>

	<link rel="stylesheet" type="text/css" href="../styles/app.css">
</head>

<body>
	<div class="intro help-this-study">
		<h1>Help This Study</h1>

		<p><img src="../images/intro-boy.png" width="75" height="75">Your participation will help us build The PRIDE Study. Your input will help shape this groundbreaking research and ensure that doctors, researchers, and scientists know what’s important to LGBTQ people. </p>
	</div>

	<div class="gradient-bottom"></div>

	<!--
	<script src="../scripts/vendor/jquery/jquery-1.11.3.min.js"></script>
	<script src="../scripts/vendor/greensock/TweenMax.min.js"></script>
	<script src="../scripts/vendor/greensock/plugins/CSSPlugin.min.js"></script>
	<script src="../scripts/vendor/greensock/easing/EasePack.min.js"></script>
	

	<script>

	</script>
	-->
</body>

</html>