@media (max-width: 767px) {
  /* line 24, ../../sass/theme/_utilities.scss */
  .text-center-xs {
    text-align: center;
  }
}

@media (min-width: 768px) {
  /* line 30, ../../sass/theme/_utilities.scss */
  .img-responsive-sm {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  /* line 38, ../../sass/theme/_utilities.scss */
  .no-mg-t-xs {
    margin-top: 0 !important;
  }
}

/* line 44, ../../sass/theme/_utilities.scss */
.no-mg-t {
  margin-top: 0 !important;
}

/* line 45, ../../sass/theme/_utilities.scss */
.no-mg-b {
  margin-bottom: 0 !important;
}

/* line 120, ../../sass/theme/_utilities.scss */
.center-block {
  margin-left: auto;
  margin-right: auto;
}

/* line 124, ../../sass/theme/_utilities.scss */
#wrapper {
  min-width: 1024px;
}
