$white          : #fff;
$gray39         : #646464;
$gray47         : #787878;
$gray57         : #929292;
$gray65         : #a7a7a7;
$gray68         : #adadad;
$gray70         : #b2b2b2;
$gray80         : #cdcdcd;
$gray83         : #d3d3d3;
$gray87         : #dddddd;
$gray97         : #f8f8f8;
$gray98         : #d4d4d4;
$orange         : #ff661b;
$burgundy       : #e53c2e;
$teal           : #5bc5ad;
$red            : #e53c2e;