.comments {

  &__title {
    font-size: 14px;
    text-transform: uppercase;
  }

}

.comment {
  background: #EFF2F3;
  font-size: 14px;
  line-height: 19px;
  margin: 15px 0;
  padding: 20px;

  .comment /*for nested comments*/ {
    background: #fff;
    margin-left: 20px;
  }

  &__summary {
    color: #7F8C8D;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 15px;
  }

  &__detail {
    font-size: 14px;
    line-height: 19px;
  }

  .comment_status {
    cursor: pointer;
    position: relative;

    &:after {
      background: url("../../assets/images/icons/gray-carrot-down.svg") no-repeat 0 0 transparent;
      background-size: 100%;
      content: "";
      display: inline-block;
      height: 8px;
      margin-left: 2px;
      width: 15px;
    }

    &--active {
      color: #2ECC71;
    }

    &--archived {
      color: #95A5A6;
    }

    &--inactive {
      color: #95A5A6;
    }

    &--flagged {
      color: #e74c3c;
    }
  }

  .status-dropdown {
    background: #F9F9F9;
    border: 1px solid #DEE1E2;
    display: none;
    left: 0;
    position: absolute;
    z-index: 1;

    &--visible {
      display: block;
    }

    &__item {
      color: #7F8C8D;
      display: block;
      font-size: 11px;
      line-height: 34px;
      padding: 0 10px;
      text-align: center;
    }
  }
}